.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
  animation: up-down 1.8s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
  text-decoration: underline;
  color: white;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 1000;
  color: black;
}

.button {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin-right: 2%;
}

.button2 {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  font-size: 10px;
  padding: 10px;
  cursor: pointer;
  margin-left: 0.2rem;
   margin-bottom: 0.5rem;
}

.proposalCard {
  width: fit-content;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: black 2px solid;
  /* display: flex; */
  flex: 1;
  flex-direction: column;
  border: none;
  border-bottom: 2px solid black;
}

.container {
  margin-top: 2rem;
}

.flex {
  flex: 1;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}